.carousel-status{
    display: none;
}

.carouss{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 3%;
}

.allCarousel{
    display: flex;
}

.allCar{
    display: flex;
    width: 50%;
    flex-direction: row;
}

.legend{
    display: none;
}

.carousel .thumbs {
    transition: all .15s ease-in;
    transform: translate3d(0,0,0);
    position: relative;
    list-style: none;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}
